<template>
  <div class="mx-auto sm:px-6 flex flex-col h-full max-w-5xl">
    <div class="flex text-sm font-bold items-end sticky top-0 z-50 bg-white pt-2 sm:pt-3">
      <div class="w-2 border-t-2 sm:border-l-2 border-gray-500 sm:rounded-tl h-2 sm:hidden"></div>
      <div class="flex flex-col">
        <div class="flex items-end">
          <router-link
            v-for="r in routes"
            :key="r.path"
            :to="r.path"
            class="px-3 border-y-2 border-gray-500 first:rounded-tl first:border-l-2 last:rounded-tr last:border-r-2"
            :exact="r.exact"
            v-slot="{ isActive, href, navigate }"
            custom
          >
            <a
              :class="[
                isActive
                  ? 'bg-white border-b-0 text-gray-600 py-1.5 border-x-2 rounded-t'
                  : 'bg-gray-200 text-gray-500 py-0.5',
              ]"
              :href="href"
              @click="navigate"
            >
              <font-awesome-icon :icon="`fa-solid ${r.icon}`" />
              <span :class="[isActive ? '' : 'sm:inline hidden']">
                {{ r.label }}
              </span>
            </a>
          </router-link>
        </div>
        <div class="h-1.5 border-gray-500 sm:border-l-2"></div>
      </div>
      <div class="flex-grow border-t-2 sm:border-r-2 border-gray-500 sm:rounded-tr h-2"></div>
    </div>
    <div class="rounded-b sm:border-x-2 sm:border-b-2 border-gray-500 border-t-0">
      <router-view />
    </div>
    <div class="flex-grow text-center text-sm text-gray-500 py-3 flex flex-col justify-end">
      <p>© Copyright 2022, Froomle</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

const ROUTES = [
  {
    path: "/",
    label: "Home",
    icon: "fa-house",
    exact: true,
  },
  {
    path: "/datasets/",
    label: "Datasets",
    icon: "fa-database",
    exact: false,
  },
  {
    path: "/scenarios",
    label: "Scenarios",
    icon: "fa-scroll",
    exact: false,
  },
  {
    path: "/experiment-settings",
    label: "Experiments",
    icon: "fa-flask",
    exact: false,
  },
  {
    path: "/algorithms",
    label: "Algorithms",
    icon: "fa-calculator",
    exact: false,
  },
]

import { useRecpackStore } from "./stores/recpack"

export default defineComponent({
  components: {},
  data() {
    return {
      routes: ROUTES,
    }
  },
  setup() {
    const store = useRecpackStore()
    return {
      store,
    }
  },
  created() {
    this.store.loadAll()
  },
})
</script>
