<template>
  <div class="flex justify-between border-l-2 py-1 px-2 rounded-r" :class="[`border-${color}-600`, `bg-${color}-100`]">
    <div class="flex items-center gap-2">
      <font-awesome-icon :class="[`text-${color}-600`]" :icon="['fa-solid', icon]" />
      <div>
        <p class="text-sm font-medium" :class="[`text-${color}-900`]">{{ message }}</p>
        <p class="text-sm" v-for="d in details">{{ d }}</p>
      </div>
    </div>
    <button @click="$emit('close')">
      <font-awesome-icon :class="[`text-${color}-600`]" :icon="['fa-solid', 'fa-xmark']" />
    </button>

    <span class="hidden text-red-600 border-red-600 bg-red-100"></span>
    <span class="hidden text-red-900"></span>
    <span class="hidden text-yellow-600 border-yellow-600 bg-yellow-100"></span>
    <span class="hidden text-yellow-900"></span>
    <span class="hidden text-blue-600 border-blue-600 bg-blue-100"></span>
    <span class="hidden text-blue-900"></span>
    <span class="hidden text-green-600 border-green-600 bg-green-100"></span>
    <span class="hidden text-green-900"></span>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

export default defineComponent({
  components: {},
  props: {
    type: String as PropType<"danger" | "success" | "warning" | "info">,
    message: String,
    details: Array as PropType<string[]>,
  },
  computed: {
    color() {
      if (this.type === "danger") return "red"
      if (this.type === "success") return "green"
      if (this.type === "warning") return "yellow"
      if (this.type === "info") return "blue"
    },
    icon() {
      if (this.type === "danger") return "fa-circle-exclamation"
      if (this.type === "success") return "fa-circle-check"
      if (this.type === "warning") return "fa-circle-question"
      if (this.type === "info") return "fa-circle-info"
    },
  },
})
</script>
