<template>
  <button
    v-on="$listeners"
    class="text-sm text-gray-400 hover:bg-gray-100 active:bg-gray-100 hover:text-gray-500 border rounded-full px-2 py-0.5"
  >
    {{ prompt }}
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({
  props: {
    prompt: String,
  },
})
</script>
