<template>
  <canvas ref="canvas"></canvas>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import * as cjs from "chart.js"
import { Chart } from "chart.js"

type TConfig = {
  type: string
  data: any
  options: any
}

export default defineComponent({
  data() {
    return {
      chart: null as Chart<"bar", number[], unknown> | null,
    }
  },
  props: {
    config: Object as PropType<TConfig>,
    signalDownload: Number,
    name: String,
  },
  methods: {
    download(name: string): void {
      if (this.chart) {
        const a = document.createElement("a")
        a.href = this.chart.toBase64Image()
        a.download = `${name}.png`
        a.click()
      }
    },
  },
  mounted() {
    cjs.Chart.register(...cjs.registerables)
    const canvas = this.$refs.canvas
    if (canvas) {
      // @ts-ignore
      this.chart = new cjs.Chart(canvas, this.config)
    }
  },
  watch: {
    config() {
      if (this.chart && this.config) {
        this.chart.data = this.config.data
        this.chart.options = this.config.options
        this.chart.update()
      }
    },
    signalDownload() {
      this.download(`chart_${this.name}`)
    },
  },
})
</script>
