<template>
  <button
    class="text-gray-500 hover:text-gray-600 active:text-gray-700 border-l py-1 px-2 flex items-center"
    @click="$emit('input', !modelValue)"
  >
    <font-awesome-icon v-if="modelValue" icon="fa-solid fa-chevron-up" />
    <font-awesome-icon v-else icon="fa-solid fa-chevron-down" />
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({
  model: {
    prop: "modelValue",
    event: "input",
  },
  props: {
    modelValue: {
      type: Boolean,
      required: true,
    },
  },
})
</script>
