<template>
  <div class="text-sm text-gray-500 flex flex-wrap items-center gap-x-2 gap-y-1" @click.stop>
    <template v-for="item in list">
      <router-link :key="item.label" v-if="item.url" class="space-x-1 hover:underline" :to="item.url">
        <font-awesome-icon v-if="item.icon" :icon="['fa-solid', item.icon]" />
        <span>{{ item.label }}</span>
      </router-link>
      <div :key="'a' + item.label" v-else class="space-x-1">
        <font-awesome-icon v-if="item.icon" :icon="['fa-solid', item.icon]" />
        <span>{{ item.label }}</span>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

export type TList = Array<{
  label: string | number
  icon?: string
  url?: string
}>

export default defineComponent({
  props: {
    list: Array as PropType<TList>,
  },
})
</script>
