<template>
  <div class="flex">
    <button
      v-for="i in maxValue"
      :key="i"
      class="border px-2 py-0.5 text-sm font-medium text-gray-700 first:rounded-l last:rounded-r"
      :class="[value === i ? 'bg-gray-100' : '']"
      @click="$emit('input', i)"
    >
      {{ i }}
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({
  props: {
    value: Number,
    maxValue: Number,
  },
})
</script>
