<template>
  <code
    class="overflow-auto select-all items-center px-2 py-0.5 rounded-full text-xs font-medium leading-4 text-gray-800 whitespace-nowrap"
    :class="[`bg-${color}-100`]"
  >
    {{ name }}{{ isPyDep ? "==" : "="
    }}<span class="font-semibold" :class="[`text-${color}-700`]">{{ isPyDep ? value : format(value) }}</span>
    <span class="bg-blue-100 text-blue-700 hidden"></span>
    <span class="bg-red-100 text-red-700 hidden"></span>
    <span class="bg-purple-100 text-purple-700 hidden"></span>
    <span class="bg-teal-100 text-teal-700 hidden"></span>
    <span class="bg-pink-100 text-pink-700 hidden"></span>
  </code>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({
  props: {
    isPyDep: {
      type: Boolean,
      default: false,
    },
    name: String,
    value: null,
    color: String,
  },
  methods: {
    format(el: any): string {
      return JSON.stringify(el)
    },
  },
})
</script>
