<template>
  <div class="border-l-2 pl-2" :class="[`border-${color}-500`]">
    <h1 class="uppercase font-extrabold tracking-wide text-xs" :class="[`text-${color}-500`]">{{ name }}</h1>
    <div class="text-gray-700 text-sm">
      <slot></slot>
    </div>
    <span class="border-green-500 text-green-500 hidden"></span>
    <span class="border-lime-500 text-lime-500 hidden"></span>
    <span class="border-blue-500 text-blue-500 hidden"></span>
    <span class="border-red-500 text-red-500 hidden"></span>
    <span class="border-purple-500 text-purple-500 hidden"></span>
    <span class="border-yellow-500 text-yellow-500 hidden"></span>
    <span class="border-teal-500 text-teal-500 hidden"></span>
    <span class="border-pink-500 text-pink-500 hidden"></span>
    <span class="border-gray-500 text-gray-500 hidden"></span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({
  props: {
    name: String,
    color: String,
  },
})
</script>
