<template>
  <div class="px-4 pb-4 pt-2 grid sm:grid-cols-2 lg:grid-cols-3 gap-2">
    <router-link
      v-for="a in store.algorithms"
      :key="a.id"
      :to="`/algorithms/${a.id}`"
      class="border rounded bg-gray-100 px-2 py-1"
    >
      <h1 class="font-extrabold text-sm uppercase text-gray-700">{{ a.name }}</h1>
      <p class="text-sm text-gray-600">{{ a.description }}</p>
      <div class="text-sm text-gray-600">
        <span class="font-semibold">{{ a.experiment_count }}</span> experiments in
        <span class="font-semibold">{{ a.experiment_settings_count }}</span> settings
      </div>
    </router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import ProcessingFilter from "../components/experiment_settings/ProcessingFilter.vue"

import { useRecpackStore } from "../stores/recpack"

export default defineComponent({
  components: { ProcessingFilter },
  props: {
    focus: String,
  },
  setup() {
    const store = useRecpackStore()
    return {
      store,
    }
  },
})
</script>
