<template>
  <div class="px-4 pb-4 pt-2 space-y-4 text-gray-700" v-if="algorithm">
    <div>
      <h1 class="font-bold text-lg">{{ algorithm.name }}</h1>
      <p>{{ algorithm.description }}</p>
    </div>

    <div>
      <h2 class="text-xs font-bold uppercase">Papers</h2>
      <p>List of related papers...</p>
    </div>

    <div>
      <h2 class="text-xs font-bold uppercase">Results</h2>
      <ExperimentsList
        v-if="algorithm.experiments"
        groupBy="setting"
        :experiments="algorithm.experiments"
        :rankings="algorithm.ranking_info"
        :focus="focus"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import ExperimentsList from "../components/experiments/Experiments.vue"
import { TExperiment } from "../format"

export default defineComponent({
  components: { ExperimentsList },
  props: {
    focus: String,
  },
  data() {
    return {
      algorithm: null as null | {
        id: string
        name: string
        description: string
        experiments: TExperiment[]
        ranking_info: Record<string, number>
      },
    }
  },
  computed: {
    algorithm_id(): string {
      return this.$route.params.id
    },
  },
  created() {
    fetch(`${import.meta.env.VITE_API_URL}/algorithms/${this.algorithm_id}`).then((raw) =>
      raw.json().then((data) => {
        this.algorithm = data
      })
    )
  },
})
</script>
