<template>
  <div class="px-4 pb-4 pt-2 grid lg:grid-cols-2 gap-2">
    <div
      v-for="s in store.datasets"
      :key="s.id"
      class="flex gap-4 items-center rounded border px-2 py-1"
      :class="[focus == s.id ? 'bg-blue-100 border-blue-300' : 'bg-gray-100']"
    >
      <div class="flex-grow">
        <router-link
          :to="`/experiment-settings/?dataset=${s.id}`"
          class="font-extrabold text-sm uppercase text-gray-700"
          >{{ s.name }}</router-link
        >
        <p class="text-sm text-gray-600">{{ s.description }}</p>
        <div class="text-sm text-gray-600">
          <span class="font-semibold">{{ formatCount(s.stats.interactions) }}</span> entries,
          <span class="font-semibold">{{ formatCount(s.stats.users) }}</span> users,
          <span class="font-semibold">{{ formatCount(s.stats.items) }}</span> items
        </div>
      </div>
      <a :href="s.recpack" target="_blank" class="space-x-1 hover:underline text-gray-600 whitespace-nowrap text-sm">
        <font-awesome-icon icon="fa-solid fa-book" /><span>recpack</span>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import { useRecpackStore } from "../stores/recpack"

const formatter = Intl.NumberFormat("en", { notation: "compact" })

export default defineComponent({
  components: {},
  props: {
    focus: String,
  },
  setup() {
    const store = useRecpackStore()
    return { store }
  },
  methods: {
    formatCount(n: number): string {
      return formatter.format(n)
    },
  },
})
</script>
