<template>
  <div class="px-4 pb-4 pt-2 space-y-4">
    <div class="space-y-1">
      <h2 class="text-xs text-gray-400 font-bold uppercase">Search</h2>
      <div class="space-y-1.5">
        <v-select
          placeholder="filter dataset"
          deselectFromDropdown
          :closeOnSelect="false"
          class="flex-1 customSelect"
          :options="store.datasets"
          label="name"
          multiple
          v-model="datasetFilter"
          :reduce="reducer"
        >
          <template v-slot:option="option">
            <span :class="[datasetFilter.indexOf(option.id) > -1 ? 'font-bold' : '']">{{ option.name }}</span>
          </template>
        </v-select>
        <v-select
          placeholder="filter scenario"
          deselectFromDropdown
          :closeOnSelect="false"
          multiple
          class="flex-1 customSelect"
          :options="store.scenarios"
          label="name"
          v-model="scenarioFilter"
          :reduce="reducer"
        >
          <template v-slot:option="option">
            <span :class="[scenarioFilter.indexOf(option.id) > -1 ? 'font-bold' : '']">{{ option.name }}</span>
          </template>
        </v-select>
      </div>
    </div>

    <div class="space-y-1">
      <h2 class="text-xs text-gray-400 font-bold uppercase">Experiment settings</h2>
      <div v-if="filteredList.length > 0" class="space-y-1.5">
        <ExperimentSettingCard v-for="es in filteredList" :key="es.name" :experimentSetting="es" />
      </div>
      <p v-else>{{ noResultsMessage }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"
import ProcessingFilter from "../components/experiment_settings/ProcessingFilter.vue"
import ExperimentSettingCard from "../components/experiment_settings/ExperimentSettingCard.vue"

import { useRecpackStore } from "../stores/recpack"

import { TExperimentSetting } from "../format"

export default defineComponent({
  components: { ProcessingFilter, ExperimentSettingCard },
  props: {
    scenarioQuery: null,
    datasetQuery: null,
  },
  setup() {
    const store = useRecpackStore()
    return { store }
  },
  data() {
    return {
      experimentSettings: [] as Array<TExperimentSetting>,
      datasetFilter: [] as Array<string>,
      scenarioFilter: [] as Array<string>,
      reducer: (el: any) => el.id,
    }
  },
  watch: {
    scenarioQuery() {
      this.setFilters()
    },
    datasetQuery() {
      this.setFilters()
    },
  },
  methods: {
    setFilters() {
      if (this.datasetQuery) {
        this.datasetFilter = [this.datasetQuery]
      }
      // else {
      //   this.datasetFilter = this.DATASETS.map((el) => el.id)
      // }

      if (this.scenarioQuery) {
        this.scenarioFilter = [this.scenarioQuery]
      }
      // else {
      //   this.scenarioFilter = this.SCENARIOS.map((el) => el.id)
      // }
    },
  },
  mounted() {
    this.setFilters()

    fetch(`${import.meta.env.VITE_API_URL}/experiment-settings`).then((raw) =>
      raw.json().then((data) => {
        this.experimentSettings = data
      })
    )
  },
  computed: {
    filteredList(): Array<TExperimentSetting> {
      return this.experimentSettings.filter(
        (el) =>
          (this.datasetFilter.length === 0 || this.datasetFilter.indexOf(el.dataset.id) > -1) &&
          (this.scenarioFilter.length === 0 || this.scenarioFilter.indexOf(el.scenario.id) > -1)
      )
    },
    noResultsMessage(): string {
      const f = []
      if (this.datasetFilter.length === 1) f.push("dataset")
      else if (this.datasetFilter.length > 1) f.push("datasets")
      if (this.scenarioFilter.length === 1) f.push("scenario")
      else if (this.scenarioFilter.length > 1) f.push("scenarios")

      if (f.length === 0) return "No experiment settings found."
      else if (f.length === 1) return `No experiment settings found for selected ${f[0]}.`
      else return `No experiment settings found for selected ${f[0]} and ${f[1]}.`
    },
  },
})
</script>

<style scoped>
:deep() .customSelect .vs__dropdown-option {
  @apply text-gray-700;
}
:deep() .customSelect .vs__dropdown-option--highlight {
  @apply bg-gray-100;
}
:deep() .customSelect .vs__selected {
  @apply bg-white border-inherit text-sm px-2 py-0.5;
}
:deep() .customSelect .vs__dropdown-toggle {
  @apply bg-gray-50 border-inherit text-sm text-gray-600;
}
:deep() .customSelect .vs__search {
  @apply text-sm;
}
</style>
