<template>
  <div class="px-4 pb-4 pt-2 space-y-6">
    <div class="space-y-1">
      <h2 class="text-xs text-gray-400 font-bold uppercase">Setting</h2>
      <ExperimentSettingCard
        v-if="experimentSetting"
        class="flex-grow"
        :experimentSetting="experimentSetting"
        :clickable="false"
      />
    </div>

    <div class="space-y-1">
      <h2 class="text-xs text-gray-400 font-bold uppercase">Algorithms</h2>
      <Experiments
        v-if="experiments && experiments.length > 0"
        groupBy="algorithm"
        :experiments="experiments"
        :rankings="rankings"
        :focus="focus"
        :selected="selectedExperiment"
        v-model="selectedAlgorithms"
      />
      <div v-else>No algorithms have been evaluated in this experiment setting.</div>
    </div>

    <div class="space-y-1">
      <h2 class="text-xs text-gray-400 font-bold uppercase">Local Experiments</h2>
      <LocalExperiments v-if="experimentSetting" :experimentSetting="experimentSetting" />
    </div>

    <div class="space-y-1">
      <h2 class="text-xs text-gray-400 font-bold uppercase">results</h2>
      <div v-if="resultCount > 0" class="space-y-4">
        <MetricsResults
          :rawResults="results2"
          :metrics="selectedMetrics"
          :algorithms="selectedAlgorithms"
          :algorithmData="algorithmData"
          @select-experiment="selectExperiment($event.a, $event.e)"
        />
        <div>
          <div class="space-y-1">
            <v-select
              placeholder="select metrics"
              deselectFromDropdown
              class="flex-1 customSelect"
              :options="metrics"
              multiple
              v-model="selectedMetrics"
            >
              <template v-slot:option="option">
                <div class="flex gap-x-2 items-center justify-between text-sm">
                  <span :class="[selectedMetrics.indexOf(option.label) > -1 ? 'font-bold' : '']">{{
                    option.label
                  }}</span>
                  <span class="text-sm text-gray-400">{{ metricResultCount(option.label) }} results</span>
                </div>
              </template>
            </v-select>
            <div class="flex gap-1 flex-wrap">
              <Button prompt="Clear selection" @click="selectAllMetrics(true)" />
              <Button prompt="Select all" @click="selectAllMetrics()" />
              <Button prompt="Select most used" @click="selectTopMetrics(0.5)" />
            </div>
          </div>
        </div>
        <div>
          <div class="space-y-1">
            <v-select
              placeholder="select algorithms"
              deselectFromDropdown
              class="flex-1 customSelect"
              :options="algorithms"
              multiple
              v-model="selectedAlgorithms"
            >
              <template v-slot:option="option">
                <div class="flex gap-x-2 items-center justify-between">
                  <span :class="[selectedAlgorithms.indexOf(option.label) > -1 ? 'font-bold' : '']">{{
                    option.label
                  }}</span>
                  <span class="text-sm text-gray-400">{{ algorithmResultCount(option.label) }} results</span>
                </div>
              </template>
            </v-select>
            <div class="flex gap-1 flex-wrap">
              <Button prompt="Clear selection" @click="selectAllAlgorithms(true)" />
              <Button prompt="Select all" @click="selectAllAlgorithms()" />
              <Button prompt="Select top 10" @click="selectTopAlgorithms(10)" />
              <Button prompt="Select top 20" @click="selectTopAlgorithms(20)" />
            </div>
          </div>
        </div>
      </div>
      <div v-else>No results available for this experiment setting.</div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

import Section from "../components/generic/Section.vue"
import Button from "../components/generic/Button.vue"

import MetricsResults from "../components/MetricsResults.vue"
import ExperimentSettingCard from "../components/experiment_settings/ExperimentSettingCard.vue"
import Experiments from "../components/experiments/Experiments.vue"
import LocalExperiments from "../components/experiments/LocalExperiments.vue"

import { TExperimentSetting, TExperiment, TAlgorithm } from "../format"
import { useLocalExperimentsStore, TLocalExperiment } from "../stores/local-experiments"
import { useRecpackStore } from "../stores/recpack"

type TResult = Record<
  string,
  {
    experiment_id: number
    value: number
  }
>

export default defineComponent({
  components: { ExperimentSettingCard, MetricsResults, Experiments, Section, Button, LocalExperiments },
  props: {
    focus: String,
  },
  data() {
    return {
      experimentSetting: null as null | TExperimentSetting,
      experiments: [] as TExperiment[],
      localExperiments: [] as TLocalExperiment[],
      rankings: {} as Record<string, number>,
      selectedMetrics: ["Recall@20"],
      selectedAlgorithms: [] as string[],
      sortMetric: null as null | string,
      selectedExperiment: {
        id: null as string | null,
        experimentId: null as number | null,
      },
    }
  },
  setup() {
    const localExperimentsStore = useLocalExperimentsStore()
    const recpackStore = useRecpackStore()
    return {
      localExperimentsStore,
      recpackStore,
    }
  },
  watch: {
    results() {
      this.selectTopMetrics(0.5)
      this.selectTopAlgorithms(10)
    },
  },
  methods: {
    selectExperiment(algorithm_id: string, experiment_id: number): void {
      this.selectedExperiment.experimentId = experiment_id
      this.selectedExperiment.id = algorithm_id
      this.$nextTick(() => {
        this.selectedExperiment.experimentId = null
        this.selectedExperiment.id = null
      })
    },
    metricResultCount(metric: string): number {
      return Object.values(this.results[metric]).length
    },
    algorithmResultCount(algorithm: string): number {
      return Object.values(this.results2[algorithm]).length
    },
    selectAllAlgorithms(deselect = false): void {
      this.selectedAlgorithms = deselect ? [] : this.algorithms
    },
    selectTopAlgorithms(n: number): void {
      this.selectedAlgorithms = this.algorithms.slice(0, n)
    },
    selectAllMetrics(deselect = false): void {
      this.selectedMetrics = deselect ? [] : this.metrics
    },
    selectTopMetrics(frac: number): void {
      const total = Object.keys(this.results2).length
      this.selectedMetrics = []
      this.metrics.forEach((m) => {
        if (this.metricResultCount(m) / total > frac) this.selectedMetrics.push(m)
      })
    },
  },
  mounted() {
    fetch(`${import.meta.env.VITE_API_URL}/experiment-settings/${this.$route.params.id}`).then((raw) =>
      raw.json().then((data) => {
        this.experimentSetting = data.experiment_setting
        this.experiments = data.experiments
        this.rankings = data.ranking_info
      })
    )
  },
  computed: {
    metrics(): Array<string> {
      return Object.keys(this.results)
    },
    algorithms(): Array<string> {
      return Object.keys(this.results2)
    },
    results(): Record<string, TResult> {
      if (!this.experiments) return {}

      const result = {} as Record<string, TResult>
      this.experiments.forEach((experiment) => {
        experiment.results.forEach((r) => {
          const metric = this.recpackStore.getMetricDisplayName(r.metric_id, r.metric_k)
          const minimise = this.recpackStore.metrics?.[r.metric_id]?.minimise || false

          if (!(metric in result)) {
            result[metric] = {}
          }

          const base = minimise ? Number.POSITIVE_INFINITY : Number.NEGATIVE_INFINITY
          const current_value = result[metric][experiment.algorithm.id]?.value || base
          const potential_value = r.value
          const replace = minimise ? potential_value < current_value : potential_value > current_value

          if (replace) {
            result[metric][experiment.algorithm.id] = {
              experiment_id: experiment.id,
              value: potential_value,
            }
          }
        })
      })
      this.localExperimentsStore.experimentsFlat.forEach((experiment) => {
        experiment.results.forEach((r) => {
          const metric = this.recpackStore.getMetricDisplayName(r.metric_id, r.metric_k)
          const minimise = this.recpackStore.metrics?.[r.metric_id]?.minimise || false

          if (!(metric in result)) {
            result[metric] = {}
          }

          const base = minimise ? Number.POSITIVE_INFINITY : Number.NEGATIVE_INFINITY
          const current_value = result[metric][experiment.algorithm_name]?.value || base
          const potential_value = r.value
          const replace = minimise ? potential_value < current_value : potential_value > current_value

          if (replace) {
            result[metric][experiment.algorithm_name] = {
              experiment_id: 0,
              value: potential_value,
            }
          }
        })
      })

      return result
    },
    results2(): Record<string, TResult> {
      const final = {} as Record<string, TResult>
      Object.entries(this.results).forEach((pair) => {
        const metric = pair[0]
        const dict = pair[1]
        Object.entries(dict).forEach((pair2) => {
          const alg = pair2[0]
          const val = pair2[1]
          if (!(alg in final)) final[alg] = {}
          final[alg][metric] = val
        })
      })
      return final
    },
    resultCount(): number {
      return Object.entries(this.results).length
    },
    algorithmData(): Record<string, TAlgorithm> {
      const final = {} as Record<string, TAlgorithm>
      this.experiments.forEach((e) => {
        const alg = e.algorithm
        final[alg.id] = alg
      })
      return final
    },
  },
})
</script>

<style scoped>
:deep() .customSelect .vs__dropdown-option {
  @apply text-gray-700;
}
:deep() .customSelect .vs__dropdown-option--highlight {
  @apply bg-gray-100;
}
:deep() .customSelect .vs__selected {
  @apply bg-white border-inherit text-sm px-2 py-0.5;
}
:deep() .customSelect .vs__dropdown-toggle {
  @apply bg-gray-50 border-inherit text-sm text-gray-600 hover:bg-gray-100;
}
:deep() .customSelect .vs__search {
  @apply text-sm;
}
</style>
