<template>
  <div class="px-4 pb-4 pt-2">
    <h1>TODO</h1>
    <p>Info</p>
    <p>Submission instructions</p>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

export default defineComponent({})
</script>
