<template>
  <div class="px-4 pb-4 pt-2 grid lg:grid-cols-2 gap-2">
    <div
      v-for="s in recpackStore.scenarios"
      :key="s.id"
      class="flex gap-4 items-center rounded border px-2 py-1"
      :class="[focus == s.id ? 'bg-blue-100 border-blue-300' : 'bg-gray-100']"
    >
      <div class="flex-grow">
        <router-link
          :to="`/experiment-settings/?scenario=${s.id}`"
          class="font-extrabold text-sm uppercase text-gray-700"
          >{{ s.name }}</router-link
        >
        <p class="text-sm text-gray-600">{{ s.description }}</p>
      </div>
      <a :href="s.recpack" target="_blank" class="space-x-1 hover:underline text-gray-600 whitespace-nowrap text-sm">
        <font-awesome-icon icon="fa-solid fa-book" /><span>recpack</span>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

import { useRecpackStore } from "../stores/recpack"

export default defineComponent({
  components: {},
  props: {
    focus: String,
  },
  setup() {
    const recpackStore = useRecpackStore()
    return { recpackStore }
  },
})
</script>
