<template>
  <div class="rounded border" :class="{ 'mb-4': open }">
    <!-- Card Header -->
    <div class="flex bg-gray-100">
      <div
        class="flex-grow flex flex-col items-start cursor-pointer text-gray-700 hover:text-gray-600"
        @click="clickable ? $router.push(`/experiment-settings/${experimentSetting.id}`) : (open = !open)"
      >
        <button
          class="self-stretch px-2 pt-1 text-sm font-extrabold flex items-center space-x-1 cursor-pointer w-full md:w-auto"
        >
          <span class="uppercase">{{ experimentSetting.name }}</span>
          <font-awesome-icon v-if="clickable" icon="fa-solid fa-circle-right" />
        </button>
        <IconedList :list="headerList" class="cursor-auto px-2 py-1" />
      </div>
      <Chevron v-model="open" />
    </div>

    <!-- Card Content -->
    <div v-show="open" class="border-t p-4 space-y-4">
      <SectionDataset :dataset="experimentSetting.dataset" />
      <SectionPreprocessing
        :preprocessing="experimentSetting.preprocessing"
        :preprocessingStats="experimentSetting.preprocessing_stats"
      />
      <SectionScenario :scenario="experimentSetting.scenario" :scenarioParameters="experimentSetting.scenario_params" />
      <SectionPostprocessing :postprocessing="experimentSetting.postprocessing" />
      <Section name="Ranking Metric" color="yellow">
        {{ recpackStore.getMetricDisplayName(experimentSetting.ranking_metric_id, experimentSetting.ranking_metric_k) }}
      </Section>
      <Section name="Tenplate" color="pink">
        <a :href="downloadUrl" class="underline">Download template</a>
      </Section>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"

import { TExperimentSetting } from "../../format"
import { useRecpackStore } from "../../stores/recpack"

import IconedList, { TList } from "../generic/IconedList.vue"
import Chevron from "../generic/Chevron.vue"
import Section from "../generic/Section.vue"
import SectionPreprocessing from "./SectionPreprocessing.vue"
import SectionScenario from "./SectionScenario.vue"
import SectionDataset from "./SectionDataset.vue"
import SectionPostprocessing from "./SectionPostprocessing.vue"

export default defineComponent({
  components: {
    Section,
    IconedList,
    Chevron,
    SectionPreprocessing,
    SectionScenario,
    SectionDataset,
    SectionPostprocessing,
  },
  props: {
    clickable: {
      type: Boolean,
      default: true,
    },
    experimentSetting: {
      type: Object as PropType<TExperimentSetting>,
      required: true,
    },
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      open: false,
    }
  },
  setup() {
    const recpackStore = useRecpackStore()
    return {
      recpackStore,
    }
  },
  watch: {
    value() {
      if (this.open != this.value) this.open = this.value
    },
    open() {
      this.$emit("input", open)
    },
  },
  created() {
    this.open = this.value
  },
  computed: {
    downloadUrl(): string {
      return `${import.meta.env.VITE_API_URL}/experiment-settings/${this.experimentSetting.id}/template`
    },
    headerList(): TList {
      const result = [
        {
          label: this.experimentSetting.experiment_count,
          icon: "fa-flask",
        },
        {
          label: this.experimentSetting.dataset.name,
          icon: "fa-database",
          url: `/datasets?focus=${this.experimentSetting.dataset.id}`,
        },
        {
          label: this.experimentSetting.scenario.name,
          icon: "fa-scroll",
          url: `/datasets?focus=${this.experimentSetting.scenario.id}`,
        },
      ]

      if (this.experimentSetting.top_experiment) {
        result.push({
          label: this.experimentSetting.top_experiment.algorithm_name,
          icon: "fa-trophy",
          url: `/algorithms/${this.experimentSetting.top_experiment.algorithm_id}`,
        })
      }

      return result
    },
  },
})
</script>
