<template>
  <div class="border rounded" :class="[`border-${color}-300`, `bg-${color}-50`]">
    <div class="flex items-center justify-between px-2 space-x-2 py-1">
      <div @click="open = !open" class="cursor-pointer text-sm">
        <font-awesome-icon icon="fa-solid fa-filter" :class="[`text-${color}-700`]" class="hidden sm:inline" />
        {{ name }}
      </div>
      <div class="flex flex-wrap justify-end gap-1 overflow-hidden">
        <Parameter v-for="(value, key) in params" :key="key" :name="key" :value="value" :color="color" />
      </div>
    </div>
    <div v-show="open" class="border-t px-2 py-1 text-sm text-gray-600">{{ desc }}</div>

    <!-- Force include styles -->
    <span class="hidden bg-purple-50 text-purple-700 border-purple-300">
      <span class="hidden bg-purple-100"></span>
    </span>
    <span class="hidden bg-blue-50 text-blue-700 border-blue-300">
      <span class="hidden bg-blue-100"></span>
    </span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue"

import Parameter from "../generic/Parameter.vue"

export default defineComponent({
  components: { Parameter },
  props: {
    name: String,
    params: Object,
    desc: String,
    color: String,
  },
  methods: {
    format(el: any): string {
      return JSON.stringify(el)
    },
  },
  data() {
    return {
      open: false,
    }
  },
})
</script>
