<template>
  <Section v-if="postprocessing.length > 0" name="Postprocessing Filters" color="purple">
    <div class="space-y-1 mt-1">
      <ProcessingFilter
        v-for="(filter, index) in postprocessing"
        :key="index"
        :name="filter.filter.name"
        :desc="filter.filter.description"
        :params="filter.params"
        color="purple"
      />
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import { TFilter, TStats } from "../../format"
import Section from "../generic/Section.vue"
import ProcessingFilter from "./ProcessingFilter.vue"

export default defineComponent({
  components: { Section, ProcessingFilter },
  props: {
    postprocessing: {
      type: Object as PropType<TFilter[]>,
      required: true,
    },
  },
})
</script>
