<template>
  <Section name="Dataset" color="green">
    <router-link :to="`/datasets?focus=${dataset.id}`" class="underline">{{ dataset.name }}</router-link>
    (<span class="font-semibold">{{ stats.interactions }}</span> entries,
    <span class="font-semibold">{{ stats.users }}</span> users,
    <span class="font-semibold">{{ stats.items }}</span> items)
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"

import { TStats } from "../../format"
import { TDataset } from "../../stores/recpack"
import { formatNumber } from "../../utils"

import Section from "../generic/Section.vue"

export default defineComponent({
  components: { Section },
  props: {
    dataset: {
      type: Object as PropType<{
        stats: TStats
        id: string
        name: string
      }>,
      required: true,
    },
  },
  computed: {
    stats() {
      return {
        interactions: formatNumber(this.dataset.stats.interactions),
        items: formatNumber(this.dataset.stats.items),
        users: formatNumber(this.dataset.stats.users),
      }
    },
  },
})
</script>
