<template>
  <Section name="Scenario" color="red">
    <div class="flex gap-x-2 gap-y-1 flex-wrap">
      <router-link :to="`/scenarios?focus=${scenario.id}`" class="underline">{{ scenario.name }}</router-link>
      <Parameter v-for="(value, key) in scenarioParameters" :key="key" :name="key" :value="value" color="red" />
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import { TScenario } from "../../stores/recpack"

import Section from "../generic/Section.vue"
import Parameter from "../generic/Parameter.vue"

export default defineComponent({
  components: { Section, Parameter },
  props: {
    scenario: {
      type: Object as PropType<{
        id: string
        name: string
      }>,
      required: true,
    },
    scenarioParameters: {
      type: Object as PropType<Record<string, any>>,
      required: true,
    },
  },
})
</script>
