<template>
  <Section name="Preprocessing Filters" color="blue" v-if="preprocessing.length > 0">
    <div class="space-y-1 my-1">
      <ProcessingFilter
        v-for="(filter, index) in preprocessing"
        :key="index"
        :name="filter.filter.name"
        :desc="filter.filter.description"
        :params="filter.params"
        color="blue"
      />
    </div>
    <div>
      Remaining: <span class="font-semibold">{{ stats.interactions }}</span> entries,
      <span class="font-semibold">{{ stats.users }}</span> users,
      <span class="font-semibold">{{ stats.items }}</span> items
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"

import { TFilter, TStats } from "../../format"
import { formatNumber } from "../../utils"

import Section from "../generic/Section.vue"
import ProcessingFilter from "./ProcessingFilter.vue"

export default defineComponent({
  components: { Section, ProcessingFilter },
  props: {
    preprocessing: {
      type: Object as PropType<TFilter[]>,
      required: true,
    },
    preprocessingStats: {
      type: Object as PropType<TStats>,
      required: true,
    },
  },
  computed: {
    stats() {
      return {
        interactions: formatNumber(this.preprocessingStats.interactions),
        items: formatNumber(this.preprocessingStats.items),
        users: formatNumber(this.preprocessingStats.users),
      }
    },
  },
})
</script>
