<template>
  <div class="rounded border" :class="{ 'border-blue-300': focussed }">
    <!-- Card Header -->
    <div class="flex" :class="[focussed ? 'bg-blue-100' : 'bg-gray-100']">
      <IconedList :list="headerList" class="px-2 py-1" />
      <Chevron class="flex-grow justify-end" v-model="open" />
    </div>

    <!-- Card content -->
    <div class="p-4 border-t space-y-4" :class="{ 'border-blue-300': focussed }" v-show="open">
      <div class="flex flex-col items-start sm:items-center sm:flex-row flex-wrap gap-4">
        <Pagination :maxValue="experiments.length" v-model="experiment_n" class="" v-show="experiments.length > 1" />
        <SectionExperiment
          :index="experiments.length > 1 ? experiment_n : -1"
          :createdTimestamp="experiment.created_timestamp"
          :uploader="experiment.uploader"
          :verified="experiment.verified"
        />
      </div>
      <div class="flex gap-4 flex-col md:flex-row">
        <div class="space-y-4 flex-1">
          <SectionAlgorithm
            :algorithmId="experiment.algorithm.id"
            :algorithmName="experiment.algorithm.name"
            :hyperparameters="experiment.hyperparameters"
          />
          <SectionSetting v-if="groupBy === 'setting'" :experimentSetting="experiment.experiment_setting" />
          <SectionResults :results="experiment.results" />
          <SectionOptimisation :optimisationConfig="experiment.optimization_config" />
        </div>
        <div class="space-y-4 flex-1">
          <SectionStats
            :modelSize="experiment.model_size"
            :trainingDuration="experiment.training_duration"
            :evaluationDuration="experiment.evaluation_duration"
          />
          <SectionEnvironment :environment="experiment.environment" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"

import Parameter from "../generic/Parameter.vue"
import Section from "../generic/Section.vue"
import Pagination from "../generic/Pagination.vue"
import Chevron from "../generic/Chevron.vue"
import IconedList, { TList } from "../generic/IconedList.vue"

import SectionAlgorithm from "./SectionAlgorithm.vue"
import SectionStats from "./SectionStats.vue"
import SectionEnvironment from "./SectionEnvironment.vue"
import SectionResults from "./SectionResults.vue"
import SectionSetting from "./SectionSetting.vue"
import SectionOptimisation from "./SectionOptimisation.vue"
import SectionExperiment from "./SectionExperiment.vue"

import { TExperiment } from "../../format"

export default defineComponent({
  components: {
    Parameter,
    Section,
    Pagination,
    SectionAlgorithm,
    SectionStats,
    SectionEnvironment,
    SectionResults,
    SectionSetting,
    SectionOptimisation,
    SectionExperiment,
    Chevron,
    IconedList,
  },
  props: {
    focussed: {
      type: Boolean,
      default: false,
    },
    experiments: {
      type: Array as PropType<TExperiment[]>,
      required: true,
    },
    rank: {
      type: Number,
      required: true,
    },
    groupBy: {
      type: String as PropType<"setting" | "algorithm">,
      required: true,
    },
    selectExperimentId: {
      type: Number,
      default: -1,
    },
    forceOpen: Boolean,
    forceClose: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      binary: false,
      open: false,
      experiment_n: 1,
    }
  },
  watch: {
    selectExperimentId() {
      if (this.selectExperimentId < 0) return

      const i = this.experiments.findIndex((e) => e.id === this.selectExperimentId)
      if (i > -1) this.experiment_n = i + 1
    },
    forceOpen() {
      if (this.forceOpen) this.open = true
    },
    forceClose() {
      if (this.forceClose) this.open = false
    },
  },
  computed: {
    experiment(): TExperiment {
      return this.experiments[(this.experiment_n - 1) % this.experiments.length]
    },
    headerList(): TList {
      const result = [
        {
          label: this.rank > 0 ? this.rank : "-",
          icon: "fa-trophy",
        },
      ] as TList

      if (this.groupBy === "algorithm") {
        result.push({
          label: this.experiment.algorithm.name,
          icon: "fa-calculator",
          url: `/algorithms/${this.experiment.algorithm.id}?focus=${this.experiment.experiment_setting.id}`,
        })
        result.push({
          label: this.experiments.length,
          icon: "fa-flask",
        })
      } else {
        result.push({
          label: this.experiment.experiment_setting.name,
          icon: "fa-flask",
          url: `/experiment-settings/${this.experiment.experiment_setting.id}?focus=${this.experiment.algorithm.id}`,
        })
        result.push({
          label: this.experiments.length,
        })
      }

      return result
    },
  },
})
</script>
