<template>
  <div class="flex flex-col gap-2 mt-1">
    <ExperimentsCard
      v-for="(rank, id) in rankings"
      :key="id"
      :experiments="aggregatedList[id]"
      :rank="rank"
      :groupBy="groupBy"
      :selectExperimentId="selected?.experimentId || -1"
      :forceOpen="selected?.id === id"
      :forceClose="selected?.id != null && selected.id !== id"
      :focussed="focus == id"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"
import ExperimentsCard from "./ExperimentsCard.vue"
import { TExperiment } from "../../format"

export default defineComponent({
  components: { ExperimentsCard },
  props: {
    experiments: {
      type: Array as PropType<TExperiment[]>,
      required: true,
    },
    groupBy: {
      type: String as PropType<"setting" | "algorithm">,
      required: true,
    },
    rankings: {
      type: Object as PropType<Record<string, number>>,
      required: true,
    },
    focus: String,
    selected: Object as PropType<{
      id: number | string | null
      experimentId: number | null
    }>,
    value: Array as PropType<string[]>,
  },
  data() {
    return {
      selectedExperiments: [] as string[],
    }
  },
  watch: {
    value() {
      if (this.value != null && this.selectedExperiments !== this.value) this.selectedExperiments = this.value
    },
    selectedExperiments() {
      this.$emit("input", this.selectedExperiments)
    },
  },
  mounted() {
    if (this.value != null) this.selectedExperiments = this.value
  },
  computed: {
    aggregatedList(): Record<string, TExperiment[]> {
      return this.experiments.reduce((acc, m: TExperiment) => {
        const index = this.groupBy === "algorithm" ? m.algorithm.id : m.experiment_setting.id
        acc[index] = acc[index]?.concat([m]) || [m]
        return acc
      }, {} as Record<string, TExperiment[]>)
    },
  },
})
</script>
