<template>
  <div class="space-y-2">
    <div class="flex">
      <label
        for="selectFiles"
        class="flex-grow cursor-pointer px-2 py-1 border rounded-l text-sm text-gray-600 space-x-2 hover:bg-gray-100 bg-gray-50"
      >
        <!-- <font-awesome-icon icon="fa-solid fa-file-import" /> -->
        <font-awesome-icon icon="fa-solid fa-file-circle-plus" />
        <span v-if="fileNames.length === 0">Select experiment files</span>
        <span v-else>{{ fileNames.join(", ") }}</span>
      </label>
      <input type="file" id="selectFiles" multiple accept="application/json" class="hidden" @change="onFileChange" />
      <button
        class="border rounded-r border-l-0 text-sm px-2 py-1 text-gray-700 hover:bg-gray-100 disabled:text-gray-300 disabled:hover:bg-white"
        :disabled="fileNames.length === 0"
        @click="addLocalExperiment"
      >
        Load experiments
      </button>
    </div>

    <Alert v-if="error.length > 0" type="danger" :message="error" :details="errorDetails" @close="error = ''" />
    <Alert v-if="warning.length > 0" type="warning" :message="warning" @close="warning = ''" />
    <Alert v-if="success.length > 0" type="success" :message="success" @close="success = ''" />

    <div class="border-t" v-if="experimentCount > 0"></div>

    <div class="space-y-2">
      <LocalExperimentsCard v-for="(list, k) in store.experiments" :key="k" :experiments="list" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

import Alert from "../generic/Alert.vue"
import Button from "../generic/Button.vue"
import LocalExperimentsCard from "./LocalExperimentsCard.vue"

import { TExperimentSetting } from "../../format"
import { loadLocalExperiment, useLocalExperimentsStore } from "../../stores/local-experiments"

export default defineComponent({
  components: { Alert, Button, LocalExperimentsCard },
  props: {
    experimentSetting: Object as PropType<TExperimentSetting>,
  },
  data() {
    return {
      error: "",
      errorDetails: [] as string[],
      warning: "",
      success: "",
      fileNames: [] as string[],
    }
  },
  setup() {
    const store = useLocalExperimentsStore()
    store.clearExperiments()
    return {
      store,
    }
  },
  methods: {
    onFileChange(event: any) {
      const fileList = event.target.files

      this.fileNames = Array.from(fileList).map((el: any) => el.name)
    },
    async addLocalExperiment(): Promise<void> {
      if (this.experimentSetting == null) return

      this.warning = ""
      this.error = ""
      this.success = ""

      // load files
      const input = document.getElementById("selectFiles") as HTMLInputElement
      if (input.files == null) {
        this.warning = "No files selected"
        return
      }

      let successCount = 0
      const allErrors = []
      // @ts-ignore
      for (const f of input.files) {
        const rawString = await f.text()

        // validate file
        const { result, errors } = loadLocalExperiment(rawString, this.experimentSetting)
        if (errors.length > 0) {
          allErrors.push({
            filename: f.name,
            errors: errors,
          })
        } else if (result != null) {
          successCount += 1
          this.store.addExperiment(result)
        }
      }
      if (successCount > 0) {
        this.success = `Loaded ${successCount} experiment${successCount > 1 ? "s" : ""}.`
        // window.setTimeout(() => {
        //   this.success = ""
        // }, 5000)
      }
      if (allErrors.length > 0) {
        this.error = `Failed to load ${allErrors.length} experiments`
        this.errorDetails = allErrors.map((e) => `- ${e.filename}: ${e.errors[0]}`)
      }

      // @ts-ignore
      input.value = null
      this.fileNames = []
    },
  },
  computed: {
    experimentCount(): number {
      return Object.entries(this.store.experiments).length
    },
  },
})
</script>
