<template>
  <div class="rounded overflow-hidden border" v-if="experiments.length > 0">
    <div class="flex bg-gray-100">
      <div class="px-2 py-1 text-sm text-gray-500 flex flex-wrap border-r items-center gap-x-2 gap-y-1" @click.stop>
        <div class="space-x-1">
          <font-awesome-icon icon="fa-solid fa-calculator" />
          <span>{{ experiment.algorithm_name }}</span>
        </div>
        <button @click="removeExperiments">
          <font-awesome-icon icon="fa-solid fa-trash" />
        </button>
      </div>
      <button
        class="text-gray-500 hover:text-gray-600 active:text-gray-700 flex-grow py-1 px-2 flex justify-end items-center"
        @click="open = !open"
      >
        <font-awesome-icon v-if="open" icon="fa-solid fa-chevron-up" />
        <font-awesome-icon v-else icon="fa-solid fa-chevron-down" />
      </button>
    </div>

    <div class="p-4 border-t space-y-4" v-show="open">
      <div class="flex flex-col items-start sm:items-center sm:flex-row flex-wrap gap-4">
        <div class="flex gap-4 items-center">
          <Pagination :maxValue="experiments.length" v-model="experiment_n" class="" v-show="experiments.length > 1" />
          <button
            @click="removeExperiment"
            class="text-gray-500 rounded-full hover:bg-gray-100 active:bg-gray-200 active:text-gray-600 w-8 h-8"
          >
            <font-awesome-icon icon="fa-solid fa-trash" />
          </button>
        </div>
        <Section :name="`Experiment ${experiments.length > 1 ? experiment_n : ''}`" color="gray">
          <div class="text-gray-600 flex gap-2">
            <div class="space-x-0.5">
              <font-awesome-icon class="fa-fw" icon="fa-regular fa-calendar" />
              <span>{{ experiment.created_timestamp }}</span>
            </div>
          </div>
        </Section>
      </div>

      <div class="flex gap-4 flex-col md:flex-row">
        <div class="space-y-4 flex-1">
          <SectionAlgorithm :algorithmName="experiment.algorithm_name" :hyperparameters="experiment.hyperparameters" />
          <SectionResults :results="experiment.results" />
          <SectionOptimisation :optimisationConfig="experiment.optimization_config" />
        </div>

        <div class="space-y-4 flex-1">
          <SectionStats
            :modelSize="experiment.model_size"
            :trainingDuration="experiment.training_duration"
            :evaluationDuration="experiment.evaluation_duration"
          />
          <SectionEnvironment :environment="experiment.environment" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"

import Section from "../generic/Section.vue"
import Pagination from "../generic/Pagination.vue"

import SectionAlgorithm from "./SectionAlgorithm.vue"
import SectionStats from "./SectionStats.vue"
import SectionEnvironment from "./SectionEnvironment.vue"
import SectionResults from "./SectionResults.vue"
import SectionSetting from "./SectionSetting.vue"
import SectionOptimisation from "./SectionOptimisation.vue"

import { formattedSize, formatDuration } from "../../utils"
import { useLocalExperimentsStore, TLocalExperiment } from "../../stores/local-experiments"

export default defineComponent({
  components: {
    Section,
    Pagination,
    SectionAlgorithm,
    SectionStats,
    SectionEnvironment,
    SectionResults,
    SectionSetting,
    SectionOptimisation,
  },
  props: {
    experiments: {
      type: Array as PropType<TLocalExperiment[]>,
      required: true,
    },
    selectExperimentIndex: Number,
    forceOpen: Boolean,
    forceClose: Boolean,
  },
  data() {
    return {
      binary: false,
      open: false,
      experiment_n: 1,
    }
  },
  setup() {
    const store = useLocalExperimentsStore()
    return {
      store,
    }
  },
  watch: {
    selectExperimentId() {
      if (this.selectExperimentIndex == null) return
      this.experiment_n = this.selectExperimentIndex + 1
    },
    forceOpen() {
      if (this.forceOpen) this.open = true
    },
    forceClose() {
      if (this.forceClose) this.open = false
    },
  },
  methods: {
    formattedSize,
    formatDuration,
    removeExperiment() {
      const algorithm_name = this.experiments?.[0].algorithm_name
      this.store.removeExperiment(algorithm_name, this.experiment_n - 1)
    },
    removeExperiments() {
      const algorithm_name = this.experiments?.[0].algorithm_name
      this.store.removeExperiments(algorithm_name)
    },
  },
  computed: {
    experiment(): TLocalExperiment {
      return this.experiments[(this.experiment_n - 1) % this.experiments.length]
    },
    showEnvironment(): boolean {
      return Object.entries(this.experiment.environment).length > 0
    },
  },
})
</script>
