<template>
  <Section :name="`Experiment ${index > -1 ? index : ''}`" color="gray">
    <div class="text-gray-600 flex gap-2">
      <div class="space-x-0.5">
        <font-awesome-icon class="fa-fw" icon="fa-regular fa-calendar" />
        <span>{{ createdTimestamp }}</span>
      </div>
      <div v-if="uploader" class="space-x-0.5">
        <font-awesome-icon class="fa-fw" icon="fa-solid fa-user" />
        <span>submitted by </span>
        <span>{{ uploader.username }}</span>
      </div>
      <div v-if="verified" class="space-x-0.5">
        <font-awesome-icon class="fa-fw" icon="fa-solid fa-certificate" />
        <span>verified</span>
      </div>
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Section from "../generic/Section.vue"

export default defineComponent({
  components: { Section },
  props: {
    index: {
      type: Number,
      required: true,
    },
    verified: {
      type: Boolean,
      default: false,
    },
    uploader: {
      type: Object as PropType<{ username: string }>,
      required: false,
    },
    createdTimestamp: {
      type: String,
      required: true,
    },
  },
})
</script>
