<template>
  <Section name="Results" color="purple">
    <div v-for="(r, i) in results" :key="i">
      <span>{{ recpackStore.getMetricDisplayName(r.metric_id, r.metric_k) }}: </span>
      <span class="font-semibold">{{ r.value }}</span>
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Section from "../generic/Section.vue"
import { useRecpackStore } from "../../stores/recpack"

export default defineComponent({
  components: { Section },
  props: {
    results: Array as PropType<Array<{ metric_id: string; metric_k: number; value: number }>>,
  },
  setup() {
    const recpackStore = useRecpackStore()
    return {
      recpackStore,
    }
  },
})
</script>
