<template>
  <Section name="Optimisation configuration" color="lime">
    <div v-if="optimisationConfig && 'metric_id' in optimisationConfig">
      <div>
        <span>Metric: </span>
        <span class="font-semibold">{{ optimisationConfig.metric_id }}@{{ optimisationConfig.metric_k }}</span>
      </div>
      <div class="my-2"></div>
      <div v-for="p in optimisationConfig.grid" :key="p.hyperparam">
        <span>{{ p.hyperparam }}: </span>
        <span class="font-semibold">{{ p.values }}</span>
      </div>
    </div>
    <p v-else>No information available.</p>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Section from "../generic/Section.vue"

export default defineComponent({
  components: { Section },
  props: {
    optimisationConfig: {
      type: Object,
      required: false,
    },
  },
})
</script>
