<template>
  <Section name="Environment" color="pink">
    <div v-if="show">
      <div
        v-for="(v, k) in {
          os: environment.os,
          cpu: environment.cpu,
          gpu: environment.gpu,
        }"
        :key="k"
      >
        <span class="uppercase">{{ k }}: </span>
        <span class="font-semibold select-all" v-if="k in environment">{{ v }}</span>
        <span class="font-semibold select-all" v-else>unknown</span>
      </div>
      <div>
        <span>recpack: </span>
        <span class="font-semibold select-all" v-if="'recpack' in environment">
          {{ environment.recpack }}
        </span>
        <span class="font-semibold select-all" v-else>unknown</span>
      </div>
      <div>
        <span>python: </span>
        <span class="font-semibold select-all" v-if="'python' in environment">
          {{ environment.python }}
        </span>
        <span class="font-semibold select-all" v-else>unknown</span>
      </div>
      <div class="gap-x-2 gap-y-1 flex flex-wrap mt-1" v-if="'dep' in environment">
        <Parameter v-for="(value, key) in environment.dep" isPyDep :key="key" :name="key" :value="value" color="pink" />
      </div>
    </div>
    <p v-else>No information available.</p>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Parameter from "../generic/Parameter.vue"
import Section from "../generic/Section.vue"

export default defineComponent({
  components: { Parameter, Section },
  props: {
    environment: {
      type: Object as PropType<Record<string, any> & { dep: Record<string, any> }>,
      required: true,
    },
  },
  computed: {
    show() {
      return Object.entries(this.environment).length > 0
    },
  },
})
</script>
