<template>
  <Section name="Algorithm" color="teal">
    <div class="gap-x-2 gap-y-1 flex flex-wrap">
      <router-link v-if="algorithmId" :to="`/algorithms/${algorithmId}`" class="underline">{{
        algorithmName
      }}</router-link>
      <div v-else>{{ algorithmName }}</div>
      <Parameter v-for="(value, key) in hyperparameters" :key="key" :name="key" :value="value" color="teal" />
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Parameter from "../generic/Parameter.vue"
import Section from "../generic/Section.vue"

export default defineComponent({
  components: { Parameter, Section },
  props: {
    algorithmId: {
      type: String,
      required: false,
    },
    algorithmName: {
      type: String,
      required: false,
    },
    hyperparameters: {
      type: Object as PropType<Record<string, any>>,
      required: true,
    },
  },
})
</script>
