<template>
  <Section name="Experiment setting" color="blue">
    <router-link :to="`/experiment-settings/${experimentSetting.id}`" class="underline">{{
      experimentSetting.name
    }}</router-link>
    <div class="ml-2 flex flex-col text-gray-600 items-start">
      <router-link :to="`/datasets?focus=${experimentSetting.dataset.id}`" class="underline space-x-1">
        <font-awesome-icon icon="fa-solid fa-database" class="fa-fw" /><span>{{ experimentSetting.dataset.name }}</span>
      </router-link>
      <router-link :to="`/scenarios?focus=${experimentSetting.scenario.id}`" class="underline space-x-1">
        <font-awesome-icon icon="fa-solid fa-scroll" class="fa-fw" /><span>{{ experimentSetting.scenario.name }}</span>
      </router-link>
    </div>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Section from "../generic/Section.vue"

export type TExperimentSettingShort = {
  id: number
  name: string
  dataset: {
    id: number
    name: string
  }
  scenario: {
    id: number
    name: string
  }
}

export default defineComponent({
  components: { Section },
  props: {
    experimentSetting: {
      type: Object as PropType<TExperimentSettingShort>,
      required: true,
    },
  },
})
</script>
