<template>
  <Section name="Stats" color="red">
    <div v-if="modelSize > -1">
      <span class="cursor-pointer" @click="binary = !binary">Model size: </span>
      <span class="font-semibold select-all">{{ formattedSize(modelSize, binary) }}</span>
    </div>
    <div v-if="trainingDuration > -1">
      <span>Fitting duration: </span>
      <span class="font-semibold select-all">{{ formatDuration(trainingDuration) }}</span>
    </div>
    <div v-if="evaluationDuration > -1">
      <span>Evaluation duration: </span>
      <span class="font-semibold select-all">{{ formatDuration(evaluationDuration) }}</span>
    </div>
    <p class="hidden only:block">No information available.</p>
  </Section>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import Section from "../generic/Section.vue"
import { formattedSize, formatDuration } from "../../utils"

export default defineComponent({
  components: { Section },
  props: {
    modelSize: {
      type: Number,
      default: -1,
    },
    trainingDuration: {
      type: Number,
      default: -1,
    },
    evaluationDuration: {
      type: Number,
      default: -1,
    },
  },
  data() {
    return {
      binary: true,
    }
  },
  methods: {
    formattedSize,
    formatDuration,
  },
})
</script>
