<template>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-3 px-2 pb-2 border rounded">
    <div
      v-for="m in metrics"
      :key="m"
      :style="{
        height: `${65 + 20 * algorithms.length}px`,
      }"
    >
      <Chart :config="generateConfig(m)" :signalDownload="signalDownloadCharts" :name="m" />
    </div>
    <!-- <button @click="download">click</button> -->
  </div>
</template>

<script lang="ts">
import { PropType, defineComponent } from "vue"
import { TAlgorithm } from "../format"
import Chart from "./generic/Chart.vue"
import { TResult } from "./MetricsResults.vue"

const COLORS = [
  {
    background: "rgba(255, 99, 132, 0.2)",
    border: "rgb(255, 99, 132)",
  },
  {
    background: "rgba(255, 159, 64, 0.2)",
    border: "rgb(255, 159, 64)",
  },
  {
    background: "rgba(255, 205, 86, 0.2)",
    border: "rgb(255, 205, 86)",
  },
  {
    background: "rgba(75, 192, 192, 0.2)",
    border: "rgb(75, 192, 192)",
  },
  {
    background: "rgba(54, 162, 235, 0.2)",
    border: "rgb(54, 162, 235)",
  },
  {
    background: "rgba(153, 102, 255, 0.2)",
    border: "rgb(153, 102, 255)",
  },
  {
    background: "rgba(201, 203, 207, 0.2)",
    border: "rgb(201, 203, 207)",
  },
]

export default defineComponent({
  components: { Chart },
  props: {
    metrics: {
      type: Array as PropType<Array<string>>,
      required: true,
    },
    results: {
      type: Array as PropType<Array<[string, TResult]>>,
      required: true,
    },
    algorithmData: Object as PropType<Record<string, TAlgorithm>>,
    signalDownloadCharts: Number,
  },
  methods: {
    generateConfig(metric: string): any {
      const data = this.results.map((pair) => {
        const algId = pair[0]
        return {
          id: algId,
          y: this.algorithmData?.[algId]?.name || algId,
          x: pair[1][metric]?.value,
        }
      })
      return {
        type: "bar",
        data: {
          datasets: [
            {
              label: metric,
              data: data,
              fill: false,
              backgroundColor: data.map((d) => COLORS[this.algorithms.indexOf(d.id) % COLORS.length].background),
              borderColor: data.map((d) => COLORS[this.algorithms.indexOf(d.id) % COLORS.length].border),
              borderWidth: 1,
              categoryPercentage: 1.0,
              barPercentage: 0.9,
            },
          ],
        },
        options: {
          animation: false,
          indexAxis: "y",
          scales: {
            y: {
              grid: {
                display: false,
              },
            },
            x: {
              grid: {
                drawBorder: false,
              },
            },
          },
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            },
            title: {
              display: true,
              text: metric,
            },
          },
        },
      }
    },
  },
  computed: {
    algorithms(): Array<string> {
      return this.results.map((pair) => pair[0]).sort()
    },
  },
})
</script>
