<template>
  <div class="space-y-3">
    <MetricsTable
      :metrics="metrics"
      :results="proxy"
      :algorithmData="algorithmData"
      :sortMetric="sortMetric"
      :sortAscending="sortAscending"
      :signalDownloadTable="signalDownloadTable"
      :signalCopyLatex="signalCopyLatex"
      :signalCopyMarkdown="signalCopyMarkdown"
      @toggle-sort="toggleSort"
      @select-experiment="$emit('select-experiment', $event)"
    />
    <MetricsChart
      :metrics="metrics"
      :results="proxy"
      :algorithmData="algorithmData"
      :signalDownloadCharts="signalDownloadCharts"
    />
    <div class="flex gap-1 flex-wrap">
      <Button @click="signalDownloadCharts += 1" prompt="Download charts" />
      <Button @click="signalDownloadTable += 1" prompt="Download table" />
      <Button @click="signalCopyLatex += 1" prompt="Copy table as LaTeX" />
      <Button @click="signalCopyMarkdown += 1" prompt="Copy table as Markdown" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

import MetricsChart from "./MetricsChart.vue"
import MetricsTable from "./MetricsTable.vue"
import Button from "./generic/Button.vue"
import { TAlgorithm } from "../format"

export type TResult = Record<
  string,
  {
    experiment_id: number
    value: number
  }
>

export default defineComponent({
  components: { MetricsTable, MetricsChart, Button },
  props: {
    rawResults: Object as PropType<Record<string, TResult>>,
    metrics: {
      type: Array as PropType<Array<string>>,
      default: [],
    },
    algorithms: Array as PropType<Array<string>>,
    algorithmData: {
      type: Object as PropType<Record<string, TAlgorithm>>,
      required: true,
    },
  },
  data() {
    return {
      sortMetric: null as null | string,
      sortAscending: false,
      signalDownloadCharts: 0,
      signalDownloadTable: 0,
      signalCopyLatex: 0,
      signalCopyMarkdown: 0,
    }
  },
  methods: {
    toggleSort(m: string) {
      if (this.sortMetric == m) {
        this.sortAscending = !this.sortAscending
      } else {
        this.sortMetric = m
        this.sortAscending = false
      }
      this.$emit("sort", {
        m: this.sortMetric,
        a: this.sortAscending,
      })
    },
  },
  computed: {
    results(): Array<[string, TResult]> {
      return Object.entries(this.rawResults || {})
    },
    filteredResults(): Array<[string, TResult]> {
      return this.results.filter((pair) => (this.algorithms || []).indexOf(pair[0]) > -1)
    },
    sortedResults(): Array<[string, TResult]> {
      if (this.sortMetric == null) return this.filteredResults
      const sm = this.sortMetric

      const base = this.sortAscending ? Number.POSITIVE_INFINITY : Number.NEGATIVE_INFINITY
      return this.filteredResults.sort((a, b) => {
        const vala = a[1][sm]?.value || base
        const valb = b[1][sm]?.value || base
        return this.sortAscending ? vala - valb : valb - vala
      })
    },
    proxy(): Array<[string, TResult]> {
      return [...this.sortedResults] // very weird: if you use sortedResults directly, child components don't always update
    },
  },
  watch: {
    metrics() {
      if (this.sortMetric == null || this.metrics?.indexOf(this.sortMetric) === -1) {
        this.sortMetric = this.metrics?.[0]
      }
    },
  },
  mounted() {
    this.sortMetric = this.metrics?.[0]
  },
})
</script>
