<template>
  <div class="space-y-1">
    <div class="rounded border border-color overflow-x-scroll">
      <table class="text-sm" id="tab">
        <tr class="text-gray-800 bg-gray-100 border-b border-color">
          <th class="px-2 py-1 border-r border-color">Algorithm</th>
          <th v-for="m in metrics" :key="m">
            <button class="px-2 py-1" @click="$emit('toggle-sort', m)">
              <span>{{ m }} </span>
              <font-awesome-icon icon="fa-solid fa-arrow-up" v-if="sortMetric === m && sortAscending" />
              <font-awesome-icon icon="fa-solid fa-arrow-down" v-if="sortMetric === m && !sortAscending" />
            </button>
          </th>
          <th class="w-full"></th>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50" v-for="r in results" :key="r[0]">
          <td class="px-2 text-right border-r border-color whitespace-nowrap">
            <span v-if="r[0] in algorithmData">{{ algorithmData[r[0]].name }}</span>
            <span v-else class="underline">{{ r[0] }}</span>
          </td>

          <td class="px-2 py-0.5 text-center" v-for="m in metrics" :key="m">
            <button v-if="r[1][m]" @click="$emit('select-experiment', { a: r[0], e: r[1][m].experiment_id })">
              {{ r[1][m].value }}
            </button>
            <span v-else>-</span>
          </td>
          <td class="w-full"></td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue"

import { TResult } from "./MetricsResults.vue"
import domtoimage from "dom-to-image"
import { TAlgorithm } from "../format"

export default defineComponent({
  props: {
    results: {
      type: Array as PropType<Array<[string, TResult]>>,
      default: [],
    },
    metrics: {
      type: Array as PropType<Array<string>>,
      default: [],
    },
    algorithmData: { type: Object as PropType<Record<string, TAlgorithm>>, required: true },
    sortMetric: String as PropType<null | string>,
    sortAscending: Boolean,
    signalDownloadTable: Number,
    signalCopyLatex: Number,
    signalCopyMarkdown: Number,
  },
  computed: {
    algorithms(): string[] {
      return this.results.map((pair) => pair[0])
    },
  },
  methods: {
    generateLatex(): string {
      let result = ""

      result += `\\begin{tabular}{||c||${"c ".repeat(this.metrics.length).slice(0, -1)}||}\n`
      result += "\t\\hline\n"
      result += `\tModel & ${this.metrics.join(" & ")} \\\\\n`
      result += "\t\\hline\\hline\n"
      for (const pair of this.results) {
        const alg = pair[0]
        const res = pair[1]
        const values = this.metrics.map((m) => res[m]?.value || "-")
        result += `\t${alg} & ${values.join(" & ")} \\\\\n`
        result += "\t\\hline\n"
      }
      result += "\\end{tabular}"

      return result
    },
    generateMarkdown(): string {
      let result = ""

      result += `| Model | ${this.metrics.join(" | ")} |\n`
      result += `| --- |${" --- |".repeat(this.metrics.length)}\n`
      for (const pair of this.results) {
        const alg = pair[0]
        const res = pair[1]
        const values = this.metrics.map((m) => res[m]?.value || "-")
        result += `| ${alg} | ${values.join(" | ")} |\n`
      }

      return result
    },
  },
  watch: {
    signalDownloadTable() {
      const algorithms = this.algorithms.join("-")

      domtoimage
        .toPng(document.getElementById("tab"))
        .then(function (dataUrl: any) {
          var link = document.createElement("a")
          link.download = `table_${algorithms}.png`
          link.href = dataUrl
          link.click()
        })
        .catch(function (error: any) {
          console.error("oops, something went wrong!", error)
        })
    },
    async signalCopyLatex() {
      await navigator.clipboard.writeText(this.generateLatex())
    },
    async signalCopyMarkdown() {
      await navigator.clipboard.writeText(this.generateMarkdown())
    },
  },
})
</script>

<style scoped>
.border-color {
  @apply border-gray-300;
}
</style>
